<div class="product-card">
    
    <img 
        [src]="product?.image" 
        [alt]="product?.title" 
        width="50" 
        (load)="onLoad()" 
        [ngClass]="{fadein: hasLoaded }"
     />
    <spiner *ngIf="!hasLoaded" />
   
    <div class="product-card-info">
        
        <h3>
            <small>{{product?.category | titlecase}}</small>
            {{product?.title | titlecase}}
        </h3>        
        <p class="price">${{product?.price}}</p>
    </div>
    <a [routerLink]="[ '/product/', product?.id]">Ver producto</a>
    <add-to-cart-button [product]="product"/>
</div>