$primary-color: #3143DE;
$secondary-color: #111430;
$base-color: #F8F8FF;
$deco1-color: #CACDFC;
$deco2-color: #F7E8ED;
$deco3-color: #E6F1ED;
$acent-color: #5E67F4;
$black-acent-color: #00FFE6;

$primary-font: Rubik;
$secondary-font: "Raleway";
