.product{
    img{
        width: 15em;
        height: auto;
        margin: 1em auto;
        display: block;
        mix-blend-mode: multiply;
    }
    h1{
        margin-bottom: 2em;

        & + div{
            display: none;
            opacity: 0;
            padding-bottom: 2em;  
            transition: opacity .1s ease,
                        display .1s ease;

            .left{
                flex: 1;
            }
            .right{
                flex: 1;
            }
        }
        & + div.has-load{
            display: block !important;
            opacity: 1;
            transition-delay: .2s;
            @media (min-width:800px) {
                display: flex !important;
            }
        }
    }
    .price{
        text-wrap: balance;
        padding: 1em 0;
    }
}