/* You can add global styles to this file, and also import other style files */
@use './styles/vars' as *;
@import './styles/fonts.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
    font-family: $primary-font;
    @media (min-width: 1300px) {
        font-size: calc(16px + 0.2vw)
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: $secondary-font;
    font-weight: 100;
    color: $primary-color;
}

.btn{
    outline: none;
    background-color: transparent;
    border: solid .1em $primary-color;
    padding: .8em 1.5em;
    color: $primary-color;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: background-color .1s ease-in-out;

    &-block{
        width: 100%;
        display: block;
        margin-top: .5em;
    }

    &:hover, &-primary{
        background-color: $acent-color;
        color: $base-color;
    }
    &:active{
        background-color: $primary-color !important;
    }
}